{{template "public/header.html" .}}
<article>
    <h4>{{.article.Title}}</h4>

    <div class="article-detail-tag">
        <span class="glyphicon-tag" title="标签"></span>
        {{range $index, $tag := $.article.Tags }}
        <span class="tags">{{$tag}}</span>
        {{end}}
    </div>

    <div class="article-detail-nav-left">
        <span class="glyphicon-eye-open" title="浏览"></span><span class="article-detail-number">111</span>
        <span class="glyphicon-heart-empty like" title="点赞"></span><span class="article-detail-number">111</span>
    </div>
    <div class="article-detail-nav-right">
        <span class="glyphicon-pencil" title="评论"></span><span class="article-detail-number">111</span>
        <span class="glyphicon-time" title="创建时间"></span><span
            class="article-detail-number">{{date .article.CreatedAt "Y-m-d H:i:s"}}</span>
    </div>

    <hr>

    <div class="article-content">
        <script>
            var content = "{{.article.Content}}";
            $("div.article-content").html(content);
        </script>
    </div>
    <div class="article-detail-nav-left clearfix">
        <span class="glyphicon-pencil" title="评论"></span>
    </div>
    <hr>

    <div class="media hidden">
        <a class="pull-left" href="#">
            <img class="media-object user-head" src="../static/img/logo.jpg" alt="头像">
        </a>

        <div class="media-body">
            <h10 class="media-heading">User Name</h10>
            <div class="media">
            </div>
        </div>
    </div>
</article>
{{template "public/footer.html" .}}


