{{template "/public/header.html" .}}
<link href="{{.RemoteAddr}}/static/css/bootstrap-markdown-editor.css" rel="stylesheet">
<form accept-charset="UTF-8" action="/articles"
      method="POST" class="article-editor-form" name="article-editor-form">
    <input type="hidden" name="id" value="{{.article.Id}}">
    <input type="hidden" name="_method" value="PUT">
    <div class="control-group">
        <div class="controls has-error">
            <input type="text" id="title" name="title" placeholder="标题" autocapitalize="off" autocorrect="off" autofocus="autofocus"
                   tabindex="1" type="text" data-validation="required"
                   data-validation-error-msg="标题不能为空" value="{{.article.Title}}">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="text" id="category" name="category" placeholder="分类" autocapitalize="off" autocorrect="off"
                   autofocus="autofocus" tabindex="2" type="text" data-validation="required"
                   data-validation-error-msg="分类不能为空" value="{{.article.Categories}}">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="text" id="tag" name="tag" placeholder="标签,多个标签请用分号分隔" value="{{.article.Tags}}">
        </div>
    </div>
    <div class="control-group">
        <div id="editor"></div>
    </div>

    <div class="control-group">
        <input class="btn" data-disable-with="保存" name="commit" tabindex="3" type="submit"
               value="保 存">
    </div>
</form>

<script>
    $(function () {
        var content = '{{.article.Content}}';
        initMarkdownEditor(content);
    });

    $.validate({
        modules: 'location, date, security, file',
    });
</script>
{{template "public/footer.html" .}}