{{template "public/header.html" .}}
    <article>
        <h5>beego study title</h5>
        <div class="row">
            <div class="article-detail-tag">
                <span class="glyphicon-tag"></span> <span class="tags">golang</span><span class="tags">golang</span><span class="tags">golang</span>
            </div>
        </div>

        <div class="row">
            <div class="article-detail-nav">
                <span class="glyphicon-eye-open">111</span>
                <span class="glyphicon-heart">1111</span>
            </div>
            <div class="article-detail-nav">
                <span class="glyphicon-pencil">20</span>
                <span class="glyphicon-time">August 24, 2013 9:00 PM</span>
            </div>
        </div>

        <hr>

        <div class="article-content">
        </div>
        <div class="media hidden">
            <a class="pull-left" href="#">
                <img class="media-object user-head" src="../static/img/logo.jpg" alt="头像">
            </a>
            <div class="media-body">
                <h10 class="media-heading">User Name</h10>
                <div class="media">
                </div>
            </div>
        </div>
    </article>
{{template "public/footer.html" .}}


