{{template "public/header.html" .}}
<link href="../static/css/bootstrap-markdown-editor.css" rel="stylesheet">
<link crossorigin="anonymous"
      href="https://assets-cdn.github.com/assets/github-e1c13e7309dc7f723b21b2afc0a6ee6a9e8e5978fe25dccb3251d923cab472df.css"
      integrity="sha256-4cE+cwncf3I7IbKvwKbuap6OWXj+JdzLMlHZI8q0ct8=" media="all" rel="stylesheet">
<link crossorigin="anonymous"
      href="https://assets-cdn.github.com/assets/github2-8660e134f8078fe75046e2c8cf09a2fd65d94446a9c3d11ecf672cb4c5842b6a.css"
      integrity="sha256-hmDhNPgHj+dQRuLIzwmi/WXZREapw9Eez2cstMWEK2o=" media="all" rel="stylesheet">

<div class="col-md-9" role="main">
    <div id="editor"></div>
    <!--<button class="md-btn btn btn-sm btn-default btn-preview" id="save">save</button>-->
    <script type="text/javascript">
        $(function () {
            $("#editor").markdownEditor(
                {
                    preview: true,
                    onPreview: function (content, callback) {
                        callback(marked(content));
                    },
                    onSave: function (content) {
                        var content = marked(content);
                        if (!$.trim(content)) {
                            $(".md-editor").css("border", "1px solid red");
                            return;
                        }
                        $.post('/articles', {title: "go study", content: content},
                                function (data) {
                                    if (data) {
                                        alert("保存成功!");
                                        window.location.href = "/"
                                    } else {
                                        alert("保存失败!")
                                    }
                                }
                        )
                    }
                }
            );


            $("textarea").keyup(function () {
                var content = $('#editor').markdownEditor('content');
                if (null != content && content.length > 0) {
                    $(".md-editor").css("border", "");
                }else{
                    $(".md-editor").css("border", "1px solid red");
                }
            });

        });
    </script>
</div>
{{template "public/footer.html" .}}
