{{template "public/header.html" .}}
<script type="text/javascript">
    $(function () {
        /*var content = "{{.pagination.Data}}"
        if (null == content || 0 == content.length) {
            window.location.href = "/";
        }
        $("#article-content").html(content)*/
    });
</script>
{{range .pagination.Data}}
<div class="control-label">
    {{.Title}}
</div>
<div class="article-title">
    {{.Tag}}
</div>
{{end}}

{{template "public/pagination.html" .}}
{{template "public/footer.html" .}}
