{{template "public/index-header.html" .}}
<link rel="stylesheet" media="screen"
      href="https://secure.assets.tumblr.com/client/prod/app/styles/global.css?_v=bb821dbebce5df61153f198d44501894">
<div class="container" id="container">
    <div class="row">
        <!--左侧-->
        <div class="span9">


        </div>
        <!--右侧-->
        <div class="span3">
            <ul class="nav nav-list">
                <li class="recommended-blogs-header ">推荐播客</li>
                <li class="item">推荐播客</li>
                <li class="item">推荐播客</li>
                <li class="item">推荐播客</li>
                <li class="item">推荐播客</li>
            </ul>

            <ul class="nav nav-list">
                <li class="hot-categories">热门分类</li>
                <li class="item">热门分类</li>
                <li class="item">热门分类</li>
                <li class="item">热门分类</li>
                <li class="item">热门分类</li>
            </ul>

            <ul class="nav nav-list">
                <li class="hot-categories">热门标签</li>
                <li class="item">热门标签</li>
                <li class="item">热门标签</li>
                <li class="item">热门标签</li>
                <li class="item">热门标签</li>
            </ul>

        </div>

    </div>
</div>
{{template "public/index-footer.html" .}}
