{{template "public/header.html" .}}

<div id="js-pjax-container" class="context-loader-container" data-pjax-container="">

    <div class="auth-form" id="login">
        <form accept-charset="UTF-8" id="loginForm" action="/users/session"
              method="post">
            <div class="auth-form-header">
                <h2 class="hosted-signin-title">欢迎登录</h2>
            </div>
            <div class="auth-form-body">
                <label for="login_field">
                    用户名或者邮箱
                </label>
                <div class="controls has-error">
                    <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="input-block"
                           id="login_field" name="name" tabindex="1" type="text" data-validation="required"
                           data-validation-error-msg="用户名不能为空">
                </div>
                <label for="password">
                    密码 <a href="/password_reset" class="hidden">(forgot password)</a>
                </label>

                <div class="controls has-error">
                    <input class="input-block" id="password" name="password" tabindex="2" type="password"
                           data-validation="required"
                           data-validation-error-msg="密码不能为空">
                </div>
                    <span class="form-error">{{.response.Message}}</span>
                <div class="">
                    <input class="btn " data-disable-with="Signing in…" name="commit" tabindex="3" type="submit"
                           value="登 录">
                </div>

            </div>
        </form>
    </div>

</div>

<script>

    $.validate({
        modules: 'location, date, security, file',
    });

</script>
{{template "public/footer.html" .}}
