{{template "public/header.html" .}}
<div id="js-pjax-container" class="context-loader-container" data-pjax-container="">


    <div class="auth-form " id="login">
        <form accept-charset="UTF-8" action="/users/session" data-form-nonce="640c48ed516caf6dfe2d21cbc267a6b3148d9d62"
              method="post">
            <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input
                    name="authenticity_token" type="hidden"
                    value="L7szyoFTXAc7cnWeFeK9Xc6zh5TX+EUMdeca+M/Spx4XE5fAktMh2ozHn1quHO82tSySCM5lB+6oQKN8dTpvEg==">
            </div>
            <div class="auth-form-header">
                <h1 class="hosted-signin-title">Sign in</h1>
            </div>
            <div class="auth-form-body">
                <label for="login_field">
                    Username or email address
                </label>
                <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="input-block" id="login_field"
                       name="name" tabindex="1" type="text">

                <label for="password">
                    Password <a href="/password_reset">(forgot password)</a>
                </label>
                <input class="input-block" id="password" name="password" tabindex="2" type="password">

                <input class="btn " data-disable-with="Signing in…" name="commit" tabindex="3" type="submit"
                       value="Sign in">
            </div>
        </form>
    </div>

</div>
{{template "public/footer.html" .}}
