{{template "public/header.html" .}}

<div id="js-pjax-container" class="context-loader-container" data-pjax-container="">

    <div class="auth-form" id="login">
        <form accept-charset="UTF-8" id="loginForm" action="/users/session"
              method="post">
            <div class="auth-form-header">
                <h2 class="hosted-signin-title">创建threeperson账号</h2>
            </div>
            <div class="auth-form-body">
                <label for="login_name">
                    用户名
                </label>
                <div class="controls has-error">
                    <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="input-block"
                           id="login_name" name="name" tabindex="1" maxlength="6" type="text" data-validation="required"
                           data-validation-error-msg="用户名不能为空">
                </div>
                <label for="login_email">
                    邮箱
                </label>
                <div class="controls has-error">
                    <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="input-block"
                           id="login_email" name="name" tabindex="1" type="text" data-validation="required"
                           data-validation-error-msg="用户名不能为空">
                </div>
                <div class="controls has-error">
                    <input class="input-block" id="password" name="password" tabindex="2" type="password"
                           data-validation="required"
                           data-validation-error-msg="密码不能为空">
                </div>
                    <span class="form-error">{{.response.Message}}</span>
                <div class="">
                    <input class="btn " data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="注 册">
                </div>
            </div>
        </form>
    </div>

</div>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101287052" data-redirecturi="http://www.threeperson.com" charset="utf-8"></script>
{{template "public/footer.html" .}}
<script>
    $.validate({
        modules: 'location, date, security, file',
    });

    $('.login-look a').on("click", function(e) {
        var type= $(this).attr("type")
        window.location="/oauth/"+type+"/auth";
    });

</script>

