


div#editor .btn-group .btn {
    font-size: 12px;
}

.auth-form {
    width: 400px;
    margin: 60px auto;
}

.pagination:above-level {
    width: 100%;
}

.pagination {
    margin-left: 9%;
}

.mobile-pagination {
    margin-right: 10%;
}