p.lead{
    color: #FFFFFF;
}
.bs-docs-sidenav{
 margin: 0px;
}
header.subhead{
    margin-top: 0px;
}
div#editor .btn-group .btn{
    font-size: 12px;
}

.auth-form {
    width: 400px;
    margin: 60px auto;
}