<footer class="footer">
    <div class="container">
        <ul class="footer-links">
            <li class="follow-btn">作者</li>
            <li class="follow-btn">
                <a href="http://zld406504302.iteye.com/" class="twitter-follow-button" data-link-color="#0069D6"
                   data-show-count="true" target="_blank">@java小生</a>
            </li>
        </ul>
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li class="follow-btn">
                    <a href="https://github.com/zld406504302/beego_study" class="twitter-follow-button" data-link-color="#0069D6"
                       data-show-count="true" target="_blank">Github</a>
                </li>
            </ul>
        </div>
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li class="follow-btn">
                    <a href="javascript:void(0)" class="twitter-follow-button" data-link-color="#0069D6"
                       data-show-count="true" target="_blank" id="sponsor">赞助</a>
                </li>
            </ul>
        </div>
        <div class="bs-docs-social">
            @2015 京ICP备15062344号
        </div>
    </div>
</footer>
<!--script-->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{{.RemoteAddr}}/static/js/threeperson-bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/prettify/r224/prettify.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="{{.RemoteAddr}}/static/js/threeperson-markdown-editor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"></script>
<script src="{{.RemoteAddr}}/static/js/threeperson.js"></script>
<script>
    var message = "{{.message}}";
    if (message) {
        message = JSON.parse(message);
        if (message.Success) {
            $("#header-tip").showSuccessTip(message.Message);
        } else {
            $("#header-tip").showWarnTip(message.Message);
        }
    }
</script>
</body>
</html>