</div>
</div>
</div>

<footer class="footer">
    <div class="container">
        <ul class="footer-links">
            <li class="follow-btn">作者</li>
            <li class="follow-btn">
                <a href="http://zld406504302.iteye.com/" class="twitter-follow-button" data-link-color="#0069D6"
                   data-show-count="true" target="_blank">@java小生</a>
            </li>
        </ul>
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li class="follow-btn">
                    <a href="https://github.com/zld406504302/beego_study" class="twitter-follow-button"
                       data-link-color="#0069D6" data-show-count="true">Github @zld406504302</a>
                </li>
            </ul>
        </div>
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li class="follow-btn">
                    <a href="javascript:void(0)" class="twitter-follow-button" data-link-color="#0069D6"
                       data-show-count="true" target="_blank" id="sponsor">赞助</a>
                </li>
            </ul>
        </div>
        <div class="bs-docs-social">
            @2015 京ICP备15062344号
        </div>
    </div>
</footer>
<script type="text/javascript" src="http://js.tongji.linezing.com/3607741/tongji.js"></script>
<script src="../static/js/beego-study.js"></script>
<script>
    var message = "{{.message}}";
    if (message) {
        message = JSON.parse(message);
        if (message.Success) {
            $("#header-tip").showSuccessTip(message.Message);
        } else {
            $("#header-tip").showWarnTip(message.Message);
        }
    }
</script>
</body>
</html>