<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Beego Study博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="beegostudy - 基于beego framework博客网站。">
    <meta name="keywords"
          content="golang,go,java,nosql,mysql,js,css,redis">
    <!--csss-->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/docs.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/prettify/r224/prettify.css" rel="stylesheet">

    <!--script-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/prettify/r224/prettify.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="../static/js/bootstrap-markdown-editor.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"></script>

    <script src="../static/js/beego-study.js"></script>
    <!--<script src=" http://hm.baidu.com/h.js?3d8e7fc0de8a2a75f2ca3bfe128e6391" type="text/javascript"></script>
    <script src=" http://hm.baidu.com/h.js?079fac161efc4b2a6f31e80064f14e82" type="text/javascript"></script>-->

</head>

<body data-spy="scroll">
<!--顶部导航条-->
<div class="navbar navbar-inverse navbar-fixed-top" id="topbar">
    <div class="container">
        <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="../">BeegoStudy</a>

        <div class="nav-collapse collapse">
            <ul class="nav">
                {{range .categories}}
                <li><a>{{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
        <div class="nav-collapse collapse pull-right">
            <ul class="nav navbar-nav navbar-right" id="signin">
                <li><a href="/login">sign in</a></li>
            </ul>
        </div>
        <div class="nav-collapse collapse pull-right">
            <ul class="nav navbar-nav navbar-right" id="publish">
                <li><a href="/articles/new">publish</a></li>
            </ul>
        </div>

    </div>

</div>
<!--请提示-->
<div class="alert navbar-fixed-top" id="header-tip" style="display: none;">
    <a class="close" style="display: none;">×</a>
    <span></span>
</div>
<!--header-->
<header class="bs-docs-jumbotron subhead">

    <div class="container">
        <h1>Beego Study</h1>

        <p class="lead">Beego Study 是基于Beego Framework搭建的个人技术博客网站</p>
    </div>
</header>

<div class="container" id="container">
    <div class="row">
        <!--左侧边栏-->
        {{if .showRightBar }}
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix-top" id="sidebar">
                <li class="active"><a href="/"><i class="glyphicon-chevron-right"></i> all</a></li>
                {{range .categories}}
                <li><a href="#typography"><i class="glyphicon-chevron-right"></i> {{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
        <div class="span9">
            {{else}}
            <div class="span12">
                {{end}}
                <!--主内容区-->


