<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{if .title}}{{.title}}_ThreePerson社区{{else}}ThreePerson社区——争做一流的IT技术开发交流平台{{end}}</title>
    <meta name="keywords" content="{{if .keywords}}{{.keywords}}{{end}}">
    <meta name="description" content="{{if .description}}{{.description}}{{end}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link Rel="SHORTCUT ICON" href="../../static/img/bee.png"/>
    <meta name="baidu_union_verify" content="829b27791ae5f658b0cd07c617d7e69f">
    <meta name="baidu-site-verification" content="oHWeWSG5w9"/>
    <!--csss-->
    <link href="{{.RemoteAddr}}/static/css/threeperson-bootstrap.css" rel="stylesheet">
    <link href="{{.RemoteAddr}}/static/css/threeperson-main.css" rel="stylesheet">
    <link href="{{.RemoteAddr}}/static/css/threeperson-docs.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/prettify/r224/prettify.css" rel="stylesheet">

    <!--script-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{{.RemoteAddr}}/static/js/threeperson-bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/prettify/r224/prettify.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="{{.RemoteAddr}}/static/js/threeperson-markdown-editor.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"></script>

</head>

<body data-spy="scroll">
<!--顶部导航条-->
<div class="navbar navbar-inverse navbar-fixed-top" id="topbar">
    <div class="container">
        <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="../">ThreePerson</a>
        <!--<div class="nav-collapse collapse">
            <ul class="nav">
                {{range .categories}}
                <li><a>{{.Name}}</a></li>
                {{end}}
            </ul>
        </div>-->
        {{if .user }}
        {{ if .isMobile}}
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/articles/new">publish</a></li>
            </ul>
        </div>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav navbar-right" id="signin">
                <span>{{.user.Nick}}</span>
            </ul>
        </div>

        {{else}}
        <div class="nav-collapse collapse pull-right">
            <ul class="nav navbar-nav navbar-right" id="signin">
                <span>{{.user.Nick}}</span>
            </ul>
        </div>
        <div class="nav-collapse collapse pull-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/articles/new">publish</a></li>
            </ul>
        </div>
        {{end}}
        {{else}}
        {{ if .isMobile}}
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/articles/new">publish</a></li>
            </ul>
        </div>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav navbar-right" id="signin">
                <li><a href="/login">sign in</a></li>
            </ul>
        </div>
        {{else}}
        <div class="nav-collapse collapse pull-right">
            <ul class="nav navbar-nav navbar-right" id="signin">
                <li><a href="/login">sign in</a></li>
            </ul>
        </div>
        <div class="nav-collapse collapse pull-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/articles/new">publish</a></li>
            </ul>
        </div>
        {{end}}
        {{end}}

    </div>

</div>
<!--请提示-->
<div class="alert navbar-fixed-top" id="header-tip" style="display: none;">
    <a class="close" style="display: none;">×</a>
    <span></span>
</div>
<!--header-->
<header class="bs-docs-jumbotron subhead">

    <div class="container">
        <h1>ThreePerson社区</h1>
        <p class="lead">ThreePerson社区是基于Beego Framework搭建的IT技术开发交流平台</p>
    </div>
</header>

<div class="container" id="container">
    <div class="row">
        <!--左侧边栏-->
        {{if .showRightBar }}
        <div class="span3 bs-docs-sidebar visible-desktop" id="container-left">
            <ul class="nav nav-list bs-docs-sidenav affix-top" id="sidebar">
                <li {{if not .active_category}}class="active"{{end}}><a href="/articles"><i class="glyphicon-chevron-right"></i> all</a></li>
                {{range .categories}}
                <li {{if $.active_category}} {{if eq .Name $.active_category}} class="active" {{end}}{{end}}><a href="/categories/{{.Name}}"><i class="glyphicon-chevron-right"></i> {{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
        <div class="span9" id="container-right">
            {{else}}
            <div class="span12">
                {{end}}
                <!--主内容区-->


