{{template "public/common-header.html" .}}

<div class="container" id="container">
    <div class="row">
        <!--左侧边栏-->
        {{if .showLeftBar }}
        <div class="span3 bs-docs-sidebar visible-desktop" id="container-left">
            <ul class="nav nav-list bs-docs-sidenav affix-top" id="sidebar">
                {{range .categories}}
                <li {{if $.active_category}} {{if eq .Name $.active_category}} class="active" {{end}}{{end}}><a href="/users/{{.UserId}}/categories/{{.Name}}"><i class="glyphicon-chevron-right"></i> {{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
        <div class="span9" id="container-right">
            {{else}}
            <div class="span12">
                {{end}}
                <!--主内容区-->


