
<nav>
    {{if gt .pagination.TotalPages 1}}
    <ul class="pagination pagination-sm">
        {{if .pagination.HasPrev}}
        <li><a href="{{.pagination.PageLinkFirst}}">首页</a></li>
        <li><a href="{{.pagination.PageLinkPrev}}">&lt;</a></li>
        {{else}}
        <li class="disabled"><a>首页</a></li>
        <li class="disabled"><a>&lt;</a></li>
        {{end}}

        {{range $index, $page := .pagination.Pages}}
        <li {{if $.pagination.IsActive .}} class="active"{{end}}>
        <a href="{{$.pagination.PageLink $page}}">{{$page}}</a>
        </li>
        {{end}}

        {{if .pagination.HasNext}}
        <li><a href="{{.pagination.PageLinkNext}}">&gt;</a></li>
        <li><a href="{{.pagination.PageLinkLast}}">尾页</a></li>
        {{else}}
        <li class="disabled"><a>&gt;</a></li>
        <li class="disabled"><a>尾页</a></li>
        {{end}}
    </ul>
    {{end}}
</nav>
